/* Colours and breakpoints */
$dark: #16201f;
$beige: #8e7d54;
$green: #183e34;
$white: #fff;
$dirty-white: #e7e8e8;

$title-font: 'domaine-semi', serif;
$secondary-font: 'Montserrat', serif;
$body-font: Arial, sans-serif;